$key-width: 45px;
$key-width2: 79px;
$key-width3: 118px;
$key-width4: 107px;
$key-width5: 373px;
$key-height: 45px;


$color-primary: #606165;
$color-border: #505050;
$color-secondary: rgba(255, 255, 255, 0.2);
$color-active: rgba(255, 255, 255, 0.4);
$color-light: #ffffff;
$color-shadow: rgba(0,0,0,0.37);