.keyboard {
  width: 815px;
  margin: 0 auto;
  padding: 15px 10px;
  background-color: $color-primary;
  border: 1px solid $color-border;
  border-radius: 5px;
  -webkit-box-shadow: 14px 15px 24px -5px rgba(0,0,0,0.37);
  -moz-box-shadow: 14px 15px 24px -5px rgba(0,0,0,0.37);
  box-shadow: 14px 15px 24px -5px rgba(0,0,0,0.37);
}

.keyboard__key {
  height: $key-height;
  width: $key-width;
  margin: 3px;
  background-color: $color-secondary;
  color: $color-light;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &:active {
    background-color: $color-active;  
  }

  &_size-2 {
    width: $key-width * 1.5;
  }

  &_size-3 {
    width: $key-width * 2.62;
  }

  &_size-4 {
    width: $key-width * 2.38;
  }

  &_size-5 {
    width: $key-width * 8.29;
  }
}